.task-complete {
	float: right;
	font-size: 1.5em;
}

.task-complete > .icon {
	cursor: pointer;
	color: darkgray;
	transition: color 1s;
}

li.complete .icon {
	color: #f123bb;
}

li.complete {
	text-decoration: line-through;
}