.todo-list-container {
	border-radius: 4px;
	margin: 20px auto 0;
	width: auto;
	max-width: 400px;
	min-width: 300px;
}

.todo-list-container > h2 {
	margin: 0;
	font-size: 1em;
	padding: 10px;
	color: #ffffff;
	background-color: #f123bb;
	border: #f123bb;
	border-radius: 4px 4px 0 0;
}

.todo-list {
	border: 1px solid lightgrey;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.todo-list > li {
	padding: 5px;
	background-color: #ffffff;
	line-height: 1.5em;
}

.todo-list > li:not(:last-child) {
	border-bottom: 1px solid lightgrey;
}

.todo-list > li:last-child {
	border-radius: 0 0 4px 4px;
}
