.todo-list-container {
	border: 1px solid #f0f0f0;
	padding: 10;
	box-shadow: 0px 1px 1px #f0f0f0;
	border-radius: 4px;
}

.todo-list-container > h2 {
	margin: 0;
	font-size: 1em;
	padding: 5px;
	color: #ffffff;
	background-color: #f123bb;
	border-radius: 4px;
}

.todo-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.todo-list > li {
	border: 1px solid #f0f0f0;
	padding: 5px;
	background-color: #ffffff;
	border-radius: 4px;
	line-height: 1.5em;
}
